{{#each this}}
  <div class='item'>
    <div class='content'>
      <a  href='{{url}}' target="_blank" class='name'>{{name}}</a>
      <div class='secondary'>{{timestamp}},  {{location}}</div>
      <div class='desc'>{{{focus}}}</div>
    </div>
  </div>
{{/each}}