{{#each this}}
{{#if title}}
  <div class='feed_item'>
  	<div class='primary'>
      <a class='title' href='{{link}}' target="_blank">{{title}}</a>
      <a class='sourceName' href='{{sourceUrl}}' target="_blank">{{sourceName}}</a>
    </div>
    <div class='secondary'>
      <div class='date'>{{timestamp}}</div>
      <div class='descr'>{{content}}</div>
      {{#if image}}<div class='img'  style="background-image:url('{{image}}');" ></div>{{/if}}
    </div>
  </div>
{{/if}}
{{/each}}