{{#each this}}
{{#if nocontent}}
<div class='post'>
 <div class='primary'>
      <div class='name'>Nothing here right now!</div>
 </div>
</div>
{{else}}
  <div class='post'>
    <div class='content'>
      <div class='primary'>
      <div class='name'>{{title}}</div>
      </div>
      <div class='secondary'><span class='from'>{{from}}</span>, {{short_date timestamp}}</div>
      <div class='desc'>{{{content}}}</div>
    </div>
  </div>
 {{/if}}
{{/each}}