  <!DOCTYPE html>
<html>
  <head>
  <head>
  	<title>New school | Data Visualization</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
  </head>
  <body>
    <div>
    {{> header}}
    </div>
    <div>
    {{> menu this}}
    </div>
    <div class="contentSpace">
    
    <div class='events'>
    <div class='meta'>
      <a class='btn' href='./form'>NEW EVENT</a>
    </div>
    {{#each events}}
      <div class='event'>
        <div class='content'>
          <a  href='{{url}}' target="_blank" class='name'>{{name}}</a>
          <div class='secondary'>{{timestamp}},  {{location}}</div>
          <div class='desc'>{{{focus}}}</div>
        </div>
      </div>
    {{/each}}
    </div>
    {{> feed}}
    </div>
  </body>
</html>
